.accordion {
  .ac {
    border: none;
    border-bottom: 1px solid #eee;
    background-color: transparent;

    &__header {
      margin: 0;
      padding: 0;
    }

    &__title {
      color: var(--grey);
      text-align: left;
      transition: color .4s ease-in-out;
    }

    &__trigger {
      position: relative;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      cursor: pointer;
      background-color: transparent;
      border: none;
      padding: 20px 10px;

      @include mobile {
        padding: 20px 0px;
      }

      & svg {
        flex-shrink: 0;
        width: 25px;
        height: 25px;
        background-color: transparent;
        border: 2px solid var(--grey);
        border-radius: 100%;
        fill: none;
        stroke: var(--grey);
        stroke-linecap: round;
        stroke-width: 2px;
        rotate: 90deg;
        transition:
          background-color .4s ease-in-out,
          rotate .4s ease-in-out,
          border .4s ease-in-out,
          stroke .4s ease-in-out, ;
      }

      &:hover {
        .ac__title {
          color: var(--dark);
        }

        & svg {
          border: 2px solid var(--dark);
          stroke: var(--dark);
        }
      }

      &:focus {
        outline: none;
      }

      &:focus-visible {
        & svg {
          border: 2px solid var(--dark);
          stroke: var(--dark);
          background-color: var(--accent)
        }
      }
    }

    &__panel {
      overflow: hidden;
      transition-property: height, visibility;
      transition-timing-function: ease;
    }

    &__text {
      padding: 0 35px 15px 10px;

      @include mobile {
        padding: 0 0 15px 0;
      }
    }
  }

  .is-active .ac {
    &__trigger {
      & svg {
        rotate: -90deg;
        border: 2px solid var(--dark);
        stroke: var(--dark);
      }
    }

    &__title {
      color: var(--dark);
    }

    &__panel {
      visibility: visible;
    }
  }
}