.accordion {
  &--features {
    .ac {
      border: none;
      border-bottom: 1px solid #eee;
      background-color: transparent;

      &-text {
        font-family: var(--font-family);
        font-size: 16px;
        color: var(--dark);
        padding: 0 0 15px 0;
      }

      &-title {
        color: var(--grey);
        transition: color .4s ease-in-out;
      }

      &-trigger {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;

        & svg {
          flex-shrink: 0;
          width: 25px;
          height: 25px;
          border: 2px solid var(--grey);
          border-radius: 100%;
          fill: none;
          stroke: var(--grey);
          stroke-linecap: round;
          stroke-width: 2px;
          rotate: 90deg;
          transition:
            rotate .4s ease-in-out,
            border .4s ease-in-out,
            stroke .4s ease-in-out, ;
        }
      }

      &:hover {
        .ac-title {
          color: var(--dark);
        }

        & svg {
          border: 2px solid var(--dark);
          stroke: var(--dark);
        }
      }
    }

    .is-active .ac {
      &-trigger {
        & svg {
          rotate: -90deg;
          border: 2px solid var(--dark);
          stroke: var(--dark);
        }
      }

      &-title {
        color: var(--dark);
      }

    }
  }
}