.feedback {
  background-image: linear-gradient(#202124, #202124);
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-position: bottom;

  &__container {
    padding-bottom: 80px;

    @include tablet {
      padding-bottom: 60px;
    }
  }

  &__wrapp {
    display: flex;
    background-color: var(--light);
    border-radius: 25px 50px 25px 25px;

    @include small-tablet {
      flex-direction: column;
    }
  }

  &__content {
    width: 60%;
    padding: 40px;
    display: flex;
    flex-direction: column;

    @include small-tablet {
      width: 100%;
    }

    @include tablet {
      padding: 25px;
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 15px;
  }

  &__wrapp-btns {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;

    @include mobile {
      flex-direction: column;
    }
  }

  &__link {
    margin-top: auto;
    // margin-right: auto;

    // @include small-tablet {
    //   margin-right: 0;
    // }
  }

  &__img-wrapp {
    width: 40%;

    @include small-tablet {
      width: 100%;
      padding: 0 25px 25px;
    }
  }

  &__image {
    height: 100%;
    border-radius: 0 50px;

    @include small-tablet {
      border-radius: 25px;
    }
  }
}