.footer {
  background-color: var(--dark);
  padding-top: 60px;
  padding-bottom: 60px;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    gap: 30px;
    color: var(--light);
  }

  &__top {
    grid-column: 1/ span 3;
    display: inline-flex;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    &-item {
      font-weight: 600;
    }

    &-item:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__link {
    color: var(--light);
    transition: color .2s ease-in-out;

    &:hover {
      color: var(--accent);
    }

    &:focus {
      outline: none;
      color: var(--accent);
    }
  }

  &__nav {
    width: 300px;
    display: flex;
    flex-direction: column;
    max-height: 150px;
    flex-wrap: wrap;

    &-item:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}