.hero {
  background-color: var(--dark);
  border-radius: 0 0 75px 75px;
  margin-bottom: 120px;

  @include tablet {
    margin-bottom: 80px;
  }

  @include small-tablet {
    border-radius: 0 0 25px 25px;
  }

  @include mobile {
    margin-bottom: 45px;
  }

  &__container {
    padding-top: 80px;
    padding-bottom: 80px;

    @include tablet {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    @include mobile {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  &__content {
    max-width: 800px;
  }

  &__title {
    color: var(--light);
    margin-bottom: 10px;

    @include tablet {
      margin-bottom: 25px;
    }

    @include mobile {
      margin-bottom: 15px;
    }
  }

  &__subtitle {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: var(--light);
    margin-bottom: 35px;

    @include tablet {
      max-width: 700px;
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
    }

    @include mobile {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }

    &--mobile {
      @include mobile {
        display: none;
      }
    }
  }

  &__wrapp-btns {
    @include flex-all-sb;
    max-width: 500px;

    @include mobile {
      flex-direction: column;
    }
  }

  &__link {
    @include mobile {
      width: 100%;
      text-align: center;
    }
  }

  &__link:not(:last-child) {
    @include mobile {
      margin-bottom: 10px;
    }
  }
}