.nav {
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {}

  &__link {
    // font-size: 14px;
    font-weight: 600;
    color: var(--light);
    transition: color .2s ease-in-out;

    &:hover {
      color: var(--accent);
    }

    &:focus {
      outline: none;
      color: var(--accent);
    }
  }

  &__phone {
    display: none;

    @include small-tablet {
      display: block;
    }
  }
}