.promo-portfolio {
  background-color: var(--smoke-light);

  &--main {
    margin-bottom: 120px;
    background-color: var(--dark);

    @include tablet {
      margin-bottom: 80px;
    }

    @include mobile {
      margin-bottom: 45px;
    }
  }

  &__container {
    padding-top: 80px;
    padding-bottom: 80px;

    @include tablet {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    @include mobile {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;

    @include tablet {
      margin-bottom: 20px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
    flex-shrink: 0;
  }

  &__nav-btn {
    display: inline-flex;
    position: static;

    & svg {
      flex-shrink: 0;
      width: 35px;
      height: 35px;
      border: 2px solid var(--accent-light);
      border-radius: 100%;
      fill: none;
      background-color: transparent;
      stroke: var(--accent-light);
      stroke-linecap: round;
      stroke-width: 2px;
      transition: stroke 0.2s ease-in-out, border 0.2s ease-in-out, background-color 0.2s ease-in-out;
    }

    &:hover svg {
      border: 2px solid var(--accent);
      stroke: var(--dark);
      background-color: var(--accent);
    }

    &:focus {
      outline: none;

      & svg {
        border: 2px solid var(--accent);
        stroke: var(--dark);
        background-color: var(--accent);
      }
    }


  }

  &__nav-btn--prev {
    transform: scale(-1, 1);
  }

  &__slider {
    cursor: pointer;
    margin-bottom: 25px;

    @include small-tablet {
      margin-bottom: 15px;
    }
  }

  &__slide {
    background-color: var(--main);
    border-radius: 25px;
  }
}

.portfolio-card {
  display: flex;
  flex-direction: column;

  &__img {
    height: 200px;
    border-radius: 25px 25px 0 0;
  }

  &__wrapp {
    padding: 20px 25px 25px 25px;
  }

  &__title {
    margin-bottom: 15px;
  }
}

.dynamic-pagination {
  position: sticky;

  & .swiper-pagination-bullet {
    height: 10px;
    width: 10px;
    background: var(--accent-light);
    opacity: 0.2;
  }

  & .swiper-pagination-bullet-active {
    background-color: var(--accent);
    opacity: 1;
  }

  &--dark {
    & .swiper-pagination-bullet {
      background: var(--grey-dark);
    }

    & .swiper-pagination-bullet-active {
      background-color: var(--accent);
    }
  }
}

.portfolio {
  padding-top: 50px;
  margin-bottom: 120px;

  @include tablet {
    margin-bottom: 80px;
  }

  @include mobile {
    margin-bottom: 45px;
  }

  &__title {
    margin-bottom: 36px;

    @include tablet {
      margin-bottom: 20px;
    }
  }
}