.reviews {
  &-card {
    padding: 25px;
    background-color: var(--light);
    border-radius: 25px;
    height: 100%;

    &__header {
      @include flex-all-sb;
      margin-bottom: 25px;

      @include tablet {
        margin-bottom: 15px;
      }
    }

    &__user {
      @include flex-v-center;
    }

    &__user-avater {
      @include flex-all-center;

      flex-shrink: 0;
      width: 44px;
      height: 44px;
      border-radius: 30px;
      background-color: var(--main);
    }

    &__user-name {
      margin-left: 15px;
    }

    &__img {
      height: 50px;
      max-width: 100%;
    }

    &__text {}
  }

  &__nav {
    @include flex-all-sb;
    width: 80px;
    flex-shrink: 0;
  }
}