.services {
  margin-bottom: 120px;

  &__title {
    margin-bottom: 36px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    grid-template-areas:
      'a a a b b b'
      'c c c b b b'
      'd d d d d d'
      'e e f f g g'
      'h h h h h h';
  }

  &__item {
    background-color: var(--light);
    border-radius: 15px;
    padding: 25px;
    grid-column: 3;

    &:nth-child(1) {
      grid-area: a;
    }

    &:nth-child(2) {
      grid-area: b;
    }

    &:nth-child(3) {
      grid-area: c;
    }

    &:nth-child(4) {
      grid-area: d;
    }

    &:nth-child(5) {
      grid-area: e;
    }

    &:nth-child(6) {
      grid-area: f;
    }

    &:nth-child(7) {
      grid-area: g;
    }

    &:nth-child(8) {
      grid-area: h;
    }
  }
}