.services {
  margin-bottom: 120px;

  @include tablet {
    margin-bottom: 80px;
  }

  @include mobile {
    margin-bottom: 45px;
  }

  &__title {
    margin-bottom: 36px;

    @include tablet {
      margin-bottom: 20px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    grid-template-areas:
      'a a a b b b'
      'c c c b b b'
      'd d d d d d'
      'e e e f f f'
    ;

    @include small-tablet {
      grid-template-columns: 1fr;
      grid-template-areas:
        'a'
        'b'
        'c'
        'd'
        'e'
        'f'
      ;
    }
  }

  &__item {
    background-color: var(--light);
    border-radius: 15px;
    padding: 25px;
    grid-column: 3;
    transition: transform .2s ease;

    &:nth-child(1) {
      grid-area: a;
    }

    &:nth-child(2) {
      grid-area: b;
    }

    &:nth-child(3) {
      grid-area: c;
    }

    &:nth-child(4) {
      grid-area: d;
    }

    &:nth-child(5) {
      grid-area: e;
    }

    &:nth-child(6) {
      grid-area: f;
    }

    &:hover {
      transform: translateY(-10px);
    }
  }

  &-card {
    &__title {
      margin-bottom: 20px;

      @include tablet {
        margin-bottom: 15px;
      }
    }

    &__subtitle {
      font-size: inherit;
      font-weight: inherit;
      margin: 0 0 20px 0;

      @include tablet {
        margin: 0 0 15px 0;
      }
    }

    &__text:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}