.social {
  background-color: var(--dark);
  margin-bottom: 120px;

  @include tablet {
    margin-bottom: 80px;
  }

  @include mobile {
    margin-bottom: 45px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 50px;
    padding-top: 80px;
    padding-bottom: 80px;

    @include tablet {
      gap: 30px;
      padding-top: 60px;
      padding-bottom: 60px;
    }

    @include small-tablet {
      grid-template-columns: 1fr;
    }

    @include mobile {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  &__left {
    grid-column: 1/span 6;
    margin: auto 0;

    @include tablet {
      grid-column: 1/span 7;
    }

    @include small-tablet {
      grid-column: auto
    }
  }

  &__title {
    color: var(--light);
    margin-bottom: 36px;

    @include tablet {
      margin-bottom: 20px;
    }
  }

  &__text {
    color: var(--light);
    margin-bottom: 20px;
  }

  &__text-link {
    color: inherit;
    outline: none;
  }

  &__wrapp-btns {
    @include flex-v-center;
    flex-wrap: wrap;
    gap: 15px;

    @include mobile {
      flex-direction: column;
      align-items: stretch;
      text-align: center;
    }
  }

  &__link {
    display: flex;
    align-items: center;

    @include mobile {
      justify-content: center;
    }
  }

  &__name {
    margin-right: 5px;
  }

  &__item {
    width: 24px;
    height: 24px;
  }

  &__right {
    grid-column: 7/span 6;

    @include tablet {
      grid-column: 8/span 5;
    }

    @include small-tablet {
      grid-column: auto
    }
  }

  &__image {
    border-radius: 25px;
    height: 100%;
  }
}