.title {
  font-family: var(--font-title);
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: var(--dark);
  margin: 0;

  &--page {
    font-size: 48px;
    line-height: 60px;

    @include tablet {
      font-size: 36px;
      line-height: 44px;
    }
  }

  &--section {
    font-size: 36px;
    line-height: 44px;

    @include tablet {
      font-size: 28px;
      line-height: 36px;
    }
  }

  &--big {
    font-size: 20px;
    line-height: 30px;
  }

  &--s {
    font-size: 18px;
    line-height: 28px;
  }

  &--xs {
    font-size: 16px;
    line-height: 24px;
  }
}