<section class="about" id="about">
  <div class="about__container container">
    <div class="about__content">
      <h2 class="about__title title title--section"> О WebSeed</h2>
      <p class="about__description">Мы имеем широкий опыт в реализации и технической поддержке коммерческих
        онлайн-проектов. Реализованные нами
        решения автоматизируют и оптимизируют бизнес-процессы компаний. Повышают конверсию и привлекают новых клиентов.
      </p>
      <p class="about__description">За всё время работы, нами были воплощены в жизнь it-проекты в финансово-кредиторном
        и автомобильном секторе, в сфере отдыха и туризма, онлайн-торговле и в других секторах.</p>
      <p class="about__description">Прокачайте онлайн-направление вашего бизнеса и выведите его на совершенно иной
        уровень, вместе с <a href="https://webseed.ru/" class="about__text-link" tabindex="-1">Webseed.ru</a></p>
      <a href="#" class="about__link link link--green">Перейти</a>
    </div>


    <div class="about__img">
      <picture>
        <source srcset="img/about/about-576.webp" media="(max-width: 576px)">
        <source srcset="img/about/about-768.webp" media="(max-width: 768px)">
        <source srcset="img/about/about-1023.webp" media="(max-width: 1024px)">
        <img loading="lazy" src="img/about/about-1920.webp" class="about__image image" alt="о нас" height="500px">
      </picture>
    </div>
  </div>
</section>