<section class="about" id="about">
  <div class="about__container container">
    <div class="about__content">
      <h2 class="about__title title title--section"> О WebSeed</h2>
      <p class="about__description">Мы имеем широкий опыт в реализации и технической поддержке коммерческих
        онлайн-проектов. Реализованные нами
        решения автоматизируют и оптимизируют бизнес-процессы компаний. Повышают конверсию и привлекают новых клиентов.
      </p>
      <a href="#" class="about__link link link--green">Перейти</a>
    </div>
    <div class="about__img">
      <picture>
        <source srcset="img/about/about-1024.webp" media="(max-width: 1023px)">
        <img loading="lazy" src="img/about/about-1920.jpg" class="about__image image" alt="о нас" width="700px"
          height="500px">
      </picture>
    </div>
  </div>
</section>