<section class="brif">
  <div class="container">
    <div class="brif__content">
      <h1 class="title visually-hidden">Бриф на разработку сайта</h1>

      <div class="brif__desc brif-desc">
        <h2 class="brif-desc__title title title--big">Что такое бриф?</h2>
        <p class="brif-desc__text">
          <strong>Бриф</strong> – это анкета, содержащая список основных требований и информацию о будущем сайте, на
          основе которой делается предварительная оценка бюджета и сроков создания сайта.
        </p>
      </div>

      <div class="brif__desc brif-desc">
        <h2 class="brif-desc__title title title--big">Для чего нужен бриф?</h2>
        <p class="brif-desc__text">
          <strong>Заказчику</strong> бриф помогает четко определить цели и задачи будущего сайта. В процессе заполнения
          анкеты, вы не только лишний раз проанализируете проект, но и четко представите себе его будущие функциональные
          возможности.
        </p>

        <p class="brif-desc__text">
          <strong>Разработчику</strong> бриф необходим для того, чтобы предложить конкретное решение, для достижения
          наилучшего результата.
        </p>
      </div>

      <div class="brif__attention">
        <p class="brif-desc__text">
          От полноты информации зависит более точная оценка проекта стоимости проекта! Но, если в процессе заполнения
          анкеты, у вас возникнут некоторые вопросы, на которые вы затрудняетесь ответить, то не стесняйтесь оставлять
          их без ответа.
        </p>
      </div>

      <form class="brif__form form form--brif">

        <ul class="form__list list-reset">
          <li class="form__item">
            <h2 class="brif__form-title title title--section">Контактная информация</h2>

            <ul class="brif__contacts-list list-reset">
              <li class="brif__contacts-item">
                <span class="">Название компании


                  <button class="btn btn--tooltip" data-tippy-content="Полное и сокращенное название">i</button>


                </span>
                <label class="form__label">
                  <input type="text" name="name" class="input-reset form__input input input-name" placeholder="Имя">
                </label>
              </li>

              <li class="brif__contacts-item">
                <span class="">Название компании
                  <button>i</button>
                </span>
                <label class="form__label">
                  <input type="text" name="name" class="input-reset form__input input input-name" placeholder="Имя">
                </label>
              </li>

            </ul>

          </li>
          <li class="form__item">
            <h2 class="brif__form-title title title--section">Контактная информация</h2>

            <ul class="list-reset">
              <li>
                <span class="">Название компании <button>hello</button> </span>
                <label class="form__label">
                  <input type="text" name="name" class="input-reset form__input input input-name" placeholder="Имя">
                </label>
              </li>

              <li>
                <span class="">Название компании <button>hello</button> </span>
                <label class="form__label">
                  <input type="text" name="name" class="input-reset form__input input input-name" placeholder="Имя">
                </label>
              </li>
            </ul>
          </li>

        </ul>


        <!-- <h2 class="brif__form-title title title--section">Контактная информация</h2>

          <ul class="list-reset">
            <li>
              <span class="">Название компании <button>hello</button> </span>
              <label class="form__label">
                <input type="text" name="name" class="input-reset form__input input input-name" placeholder="Имя">
              </label>
            </li>

            <li>
              <span class="">Название компании <button>hello</button> </span>
              <label class="form__label">
                <input type="text" name="name" class="input-reset form__input input input-name" placeholder="Имя">
              </label>
            </li>
          </ul> -->

      </form>



      <select name="test" id="" class="default">
        <option value="test1">test1</option>
        <option value="test2">test2</option>
        <option value="test3">test3</option>
      </select>

    </div>
  </div>
</section>