<section class="contacts" id="contacts">
  <div class="map" id="map"></div>
  <div class="contacts__container container">
    <div class="contacts__content">
      <h2 class="contacts__title title title--section">Контакты</h2>
      <ul class="contacts__address address list-reset">
        <li class="address__item">
          <span class="address__name">Наш телефон:</span>
          <a href="tel:+79934092028" class="address__link">+7 993 409-20-28</a>
        </li>
        <li class="address__item">
          <span class="address__name">На почта:</span>
          <a href="mailto:info@webseed.ru" class="address__link">info@webseed.ru</a>
        </li>
        <li class="address__item">
          <span class="address__name">Наш адрес:</span>
          <p>Татарстан, Набережные челны, Мира, 49а</p>
        </li>
      </ul>

      <ul class="contacts__social social-link list-reset">
        <li class="social-link__item">
          <a class="social-link__link" href="mailto:info@webseed.ru">
            <svg class="">
              <use xlink:href="img/sprite.svg#mail"></use>
            </svg>
          </a>
        </li>
        <li class="social-link__item">
          <a class="social-link__link" href="https://t.me/web_seed" target="_blank">
            <svg class="">
              <use xlink:href="img/sprite.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li class="social-link__item">
          <a class="social-link__link" target="_blank" href="https://wa.me/+79934092028">
            <svg class="">
              <use xlink:href="img/sprite.svg#whatsapp"></use>
            </svg>
          </a>
        </li>

      </ul>
    </div>
  </div>

</section>