<section class="contacts" id="contacts">
  <div class="map" id="map"></div>
  <div class="contacts__container container">
    <div class="contacts__content">
      <h2 class="contacts__title title title--section">Контакты</h2>
      <ul class="contacts__address address list-reset">
        <li class="address__item">Наш телефон: +7 (512) 000-55-66</li>
        <li class="address__item">Наш адрес: Татарстан, Набережные челны, ул. Мира, 5/5.</li>
        <li class="address__item">На почта: hello-info@websseed.ru</li>
      </ul>
      <ul class="contacts__social social-link list-reset">
        <li class="social-link__item">
          <a class="social-link__link" href="http://">
            <svg class="">
              <use xlink:href="img/sprite.svg#mail"></use>
            </svg>
          </a>
        </li>
        <li class="social-link__item">
          <a class="social-link__link" href="http://">
            <svg class="">
              <use xlink:href="img/sprite.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li class="social-link__item">
          <a class="social-link__link" href="http://">
            <svg class="">
              <use xlink:href="img/sprite.svg#whatsapp"></use>
            </svg>
          </a>
        </li>

      </ul>
    </div>
  </div>

</section>
<script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU" type="text/javascript"></script>