<section class="features" id="features">
  <div class="features__container container">
    <h2 class="features__title title title--section">Почему нас выбирают</h2>

    <div class="accordion accordion--features">
      <div class="ac">
        <div class="ac__header">
          <button type="button" class="ac__trigger">
            <h3 class="ac__title title title--big">Мы структурируем и поэтапно подходим к реализации</h3>
            <svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-linejoin="round"></path>
            </svg>
          </button>

        </div>
        <div class="ac__panel">
          <p class="ac__text">Применяем современные методологии реализации проекта в сфере информационных технологий.
            Структурируем и разбиваем реализацию на конкретные этапы и точные временные сроки, проводим тщательный
            пост-аудит каждого выполненного этапа, чтобы соответствовать нашему высокому качеству.</p>
        </div>
      </div>

      <div class="ac">
        <div class="ac__header">
          <button type="button" class="ac__trigger">
            <h3 class="ac__title title title--big">Мы создаем уникальные IT - продукты</h3>
            <svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-linejoin="round"></path>
            </svg>
          </button>
        </div>
        <div class="ac__panel">
          <p class="ac__text">Беремся за самые амбициозные проекты и задачи. Придумываем уникальный дизайн, выстраиваем
            структуру и связи данных, стандартизируем и документируем. Разрабатываем проекты с макета до релиза.</p>
        </div>
      </div>

      <div class="ac">
        <div class="ac__header">
          <button type="button" class="ac__trigger">
            <h3 class="ac__title title title--big">Мы следим за качеством</h3>
            <svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-linejoin="round"></path>
            </svg>
          </button>
        </div>
        <div class="ac__panel">
          <p class="ac__text">Все наши проекты, в ходе реализации, проходят через поэтапный технический контроль
            качества
            написанного кода. Мы придерживаемся самых последних стандартов и технологий разработки сайтов и
            веб-приложений.</p>
        </div>
      </div>
    </div>
  </div>

</section>