<section class="features" id="features">
  <div class="features__container container">
    <h2 class="features__title title title--section">Почему нас выбирают</h2>

    <div class="accordion-container">
      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">Lorem ipsum dolor sit amet.</button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>

      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">Lorem ipsum dolor sit amet.</button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>

      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">Lorem ipsum dolor sit amet.</button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
  </div>

</section>