<section class="features" id="features">
  <div class="features__container container">
    <h2 class="features__title title title--section">Почему нас выбирают</h2>

    <div class="accordion accordion--features">
      <div class="ac">
        <div class="ac-header ">
          <button type="button" class="ac-trigger">
            <h3 class="ac-title title title--big">Lorem ipsum dolor sit amet.</h3>
            <svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-linejoin="round"></path>
            </svg>
          </button>

        </div>
        <div class="ac-panel">
          <p class="ac-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>

      <div class="ac">
        <div class="ac-header">
          <button type="button" class="ac-trigger">
            <h3 class="ac-title title title--big">Lorem ipsum dolor sit amet.</h3>
            <svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-linejoin="round"></path>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="ac-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>

      <div class="ac">
        <div class="ac-header">
          <button type="button" class="ac-trigger">
            <h3 class="ac-title title title--big">Lorem ipsum dolor sit amet.</h3>
            <svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-linejoin="round"></path>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="ac-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
  </div>

</section>