<section class="feedback" id="feedback">
  <div class="feedback__container container">
    <div class="feedback__wrapp">
      <div class="feedback__content">
        <h2 class="feedback__title title">Связаться с нами</h2>
        <p class="feedback__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, dolorem? Esse,
          tenetur? Architecto culpa at error blanditiis eaque rerum! Enim sequi voluptatum cum, aspernatur eius ipsa
          facere ab, qui est nemo dicta commodi, labore nam quam molestias? Saepe nemo expedita assumenda, explicabo
          recusandae voluptatem harum amet sint! Assumenda, unde sunt!
        </p>
        <a href="#" class="feedback__link link link--green">Перейти</a>
      </div>
      <picture class="feedback__img-wrapp">
        <source srcset="img/about/about-1024.webp" media="(max-width: 1023px)">
        <img loading="lazy" src="img/about/about-1920.jpg" class="feedback__image" alt="о нас" width="700px"
          height="500px">
      </picture>
    </div>
  </div>
</section>