<section class="feedback" id="feedback">
  <div class="feedback__container container">
    <div class="feedback__wrapp">
      <div class="feedback__content">
        <h2 class="feedback__title title">Связаться с нами</h2>
        <p class="feedback__text">
          У вас есть вопросы или нужна помощь? Мы готовы помочь вам! Наша команда всегда на связи и готова ответить на
          любые ваши вопросы. <br><strong>Оставьте заявку на бесплатную консультацию</strong>, и мы свяжемся с вами в
          самое кратчайшее
          время. Доверьтесь нам и получите поддержку от нашей команды профессионалов!
        </p>
        <div class="feedback__wrapp-btns">
          <button class="btn-reset feedback__link link link--green" data-graph-path="modal">Оставить
            заявку</button>
          <a href="/page-brif.html" class="feedback__link link link--grey">Заполнить бриф</a>
        </div>

      </div>
      <picture class="feedback__img-wrapp">
        <source srcset="img/feedback/feedback-576.webp" media="(max-width: 576px)">
        <source srcset="img/feedback/feedback-768.webp" media="(max-width: 768px)">
        <source srcset="img/feedback/feedback-1024.webp" media="(max-width: 1024px)">
        <img loading="lazy" src="img/feedback/feedback.webp" class="feedback__image" alt="о нас" width="700px"
          height="500px">
      </picture>
    </div>
  </div>
</section>