<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <title>Заказать сайт в Челнах. Создание сайтов под ключ. Услуги программистов в Челнах.</title>
  <meta name="description" content="Заказать разработку сайта, продвижение, аудит и API-интеграцию Webseed.ru. Хотите создать сайт, который будет привлекать клиентов и поднимать продажи? Наша веб-студия предлагает полный цикл услуг по разработке и продвижению сайтов, чтобы вы могли добиться успеха в онлайн-бизнесе.">
  <link rel="preload" href="fonts/Inter-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Inter-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Montserrat-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="js/main.js"></script>
  <script defer src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU" type="text/javascript"></script>
</head>
