<header class="header">
  <div class="header__container container ">
    <div class="header__top">
      <a href="#" class="header__logo logo">Logo</a>
      <a href="tel:+" class="header__link link link--green link--small">Оставить заявку</a>
    </div>


    <nav class="nav header__bottom" title="">
      <ul class="nav__list  list-reset">
        <li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Услуги</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Наш стек</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Преимущества</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Портфолио</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Отзывы</a></li>
      </ul>
    </nav>

  </div>

</header>