<section class="hero">
  <div class="hero__container container">
    <div class="hero__content">
      <h1 class="title visually-hidden">WebSeed - IT услуги</h1>
      <h2 class="hero__title title title--page">Хотите создать сайт, который будет привлекать клиентов и увеличивать
        продажи?</h2>
      <p class="hero__subtitle">Наша веб-студия предлагает полный цикл услуг по разработке и продвижению сайтов<span
          class="hero__subtitle--mobile">,
          чтобы вы
          могли добиться успеха в онлайн-бизнесе.</span>
      </p>
      <div class="hero__wrapp-btns">
        <a href="#" class="hero__link link link--green link--big">Бесплатная консультация</a>
        <a href="#services" class="hero__link link link--big" data-menu-item>Об услугах</a>
      </div>
    </div>
  </div>
</section>