<section class="portfolio">
  <div class="portfolio__container container">
    <h2 class="portfolio__title title title--section">Портфолио</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta eum mollitia fugit ab iste, ea iure eligendi
      deleniti, cum similique quibusdam! Quidem corporis eaque vero sint iure minima, ullam nesciunt, blanditiis totam
      error nostrum esse. Quaerat dolore consectetur aut? Neque sunt repudiandae aliquid iste blanditiis natus voluptate
      maxime laudantium reiciendis, quos assumenda culpa voluptates rerum deleniti nam. Nemo porro nesciunt, ipsum,
      nulla voluptatem excepturi assumenda quia rem esse doloremque ipsa mollitia possimus voluptas praesentium in qui
      numquam perspiciatis ipsam dolore cumque molestiae quo? Quod eius possimus odit praesentium voluptas, fugiat culpa
      beatae. Odit fugiat rem doloremque laborum. Illo fuga exercitationem earum nulla porro quis totam eum repudiandae
      ullam omnis commodi sit quos voluptatem, atque, nihil sapiente, sunt ab voluptas officiis beatae cumque! Veniam
      recusandae sed maiores commodi porro deserunt doloribus ex excepturi dignissimos vero. Obcaecati beatae, mollitia
      tenetur praesentium quas dolores quae cupiditate tempore suscipit adipisci iusto non magni doloribus atque.
      Magnam, iste quisquam corporis laborum ex accusamus quasi, ad veritatis explicabo iure voluptatibus, deleniti
      autem sequi incidunt! Reprehenderit autem dolores vero veritatis! Necessitatibus delectus quam repudiandae,
      laboriosam natus id sed omnis nam, magni, impedit quisquam beatae unde commodi! Non sint, neque quae ex facere
      blanditiis consequuntur dignissimos eius officiis perferendis possimus ipsum? Ex deleniti expedita laboriosam
      alias vitae accusamus, minus, culpa nam, laborum excepturi vel. Omnis aspernatur iusto nihil voluptate voluptatem
      dolor totam, numquam aut eos dolore, quas porro blanditiis tenetur recusandae. Nesciunt deleniti deserunt, maiores
      doloremque, officiis blanditiis ipsum suscipit iure impedit pariatur in, velit a repellendus consectetur error
      officia veniam maxime fugiat doloribus. Reiciendis ad, ratione similique quaerat maiores repellendus soluta
      voluptatem optio expedita provident excepturi exercitationem culpa incidunt vero consequatur, deleniti natus amet,
      quisquam a sint perspiciatis illum molestias. Ducimus illum saepe quisquam perspiciatis, quas, aperiam est nulla,
      deleniti neque accusantium voluptatem eos velit. Aut ipsum praesentium in eveniet provident odio, dolores commodi
      vero beatae distinctio ex minus quos optio obcaecati inventore iusto quae nihil. Expedita neque saepe
      reprehenderit, illo, obcaecati voluptate numquam tempore eius eligendi, sint esse ducimus fugit sed suscipit
      voluptates? Perferendis, aperiam culpa laborum earum recusandae placeat error, nemo voluptate rem, ullam iure
      suscipit. Dicta delectus explicabo consectetur excepturi dolorum quasi soluta? Ut adipisci est dignissimos omnis
      quis quo recusandae maiores aliquid at minus! Velit eum ea mollitia ducimus odio? Accusamus cumque natus
      perferendis obcaecati veniam, quos omnis repudiandae architecto. Quisquam optio debitis non? Voluptatibus magni
      repudiandae rerum itaque aut fugiat doloremque tempora qui corrupti aspernatur sequi nihil quaerat rem laborum
      modi asperiores expedita, molestias eos libero! Sapiente blanditiis quod sed natus facilis assumenda iusto in
      harum odit. Qui iure maxime architecto iusto libero porro laudantium officiis rem non neque maiores dignissimos,
      quis minus at doloremque eligendi id earum culpa ullam numquam quaerat. Praesentium eveniet cupiditate at, ipsa
      sapiente ducimus laborum exercitationem odio nobis, sint perferendis minima reiciendis, accusantium fugit nesciunt
      cumque architecto maxime aliquid! Reprehenderit ad quaerat ipsa expedita eius, voluptas facere officiis hic
      tempore inventore. Debitis, dicta expedita. Harum nesciunt dolorem quas quasi, soluta, voluptates, quidem incidunt
      reprehenderit rerum suscipit a.
    </p>
  </div>
</section>

<section class="promo-portfolio card-slider card-slider--dark">

  <div class="card-slider__container container">

    <div class="card-slider__top">
      <h2 class="title title--section title--light">Другие портфолио</h2>

      <div class="card-slider__nav">
        <button class="promo-portfolio__prev btn-nav-slider btn-nav-slider--prev btn-reset">
          <svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-linejoin="round"></path>
          </svg>
        </button>
        <button class="promo-portfolio__next btn-nav-slider btn-nav-slider--next btn-reset ">
          <svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-linejoin="round"></path>
          </svg>
        </button>
      </div>
    </div>

    <div class="card-slider__slider swiper swiper--promo-portfolio">
      <div class="swiper-wrapper">
        <div class="swiper-slide card-slider__slide">
          <article class="card ">
            <img loading="lazy" src="img/about/about.webp" class="card__img image" alt="" height="200">
            <div class="card__wrapp">
              <h3 class="card__title title title--big">Веб-агенства WebSeed</h3>
              <p class="card__text">Cайт сделан точно и в срок. По цене вне конкуренции, вообще никаких
                нареканий.
                У меня не было никаких
                познаний по созданию сайтов, все сам объяснил, предложили варианты технических и маркетинговых решений.
                В
                дальнейшем буду обращаться только к ним!</p>
              <a href="http://" class="card__link link link--green btn-reset">Перейти</a>
            </div>
          </article>
        </div>

        <div class="swiper-slide card-slider__slide">
          <article class="card ">
            <img loading="lazy" src="img/about/about.webp" class="card__img image" alt="" height="200">
            <div class="card__wrapp">
              <h3 class="card__title title title--big">Веб-агенства WebSeed</h3>
              <p class="card__text">Cайт сделан точно и в срок. По цене вне конкуренции, вообще никаких
                нареканий.
                У меня не было никаких
                познаний по созданию сайтов, все сам объяснил, предложили варианты технических и маркетинговых решений.
                В
                дальнейшем буду обращаться только к ним!</p>
              <a href="http://" class="card__link link link--green btn-reset">Перейти</a>
            </div>
          </article>
        </div>

        <div class="swiper-slide card-slider__slide">
          <article class="card ">
            <img loading="lazy" src="img/about/about.webp" class="card__img image" alt="" height="200">
            <div class="card__wrapp">
              <h3 class="card__title title title--big">Веб-агенства WebSeed</h3>
              <p class="card__text">Cайт сделан точно и в срок. По цене вне конкуренции, вообще никаких
                нареканий.
                У меня не было никаких
                познаний по созданию сайтов, все сам объяснил, предложили варианты технических и маркетинговых решений.
                В
                дальнейшем буду обращаться только к ним!</p>
              <a href="http://" class="card__link link link--green btn-reset">Перейти</a>
            </div>
          </article>
        </div>

        <div class="swiper-slide card-slider__slide">
          <article class="card">
            <img loading="lazy" src="img/about/about.webp" class="card__img image" alt="" height="200">
            <div class="card__wrapp">
              <h3 class="card__title title title--big">Веб-агенства WebSeed</h3>
              <p class="card__text">Cайт сделан точно и в срок. По цене вне конкуренции, вообще никаких
                нареканий.
                У меня не было никаких
                познаний по созданию сайтов, все сам объяснил, предложили варианты технических и маркетинговых решений.
                В
                дальнейшем буду обращаться только к ним!</p>
              <a href="http://" class="card__link link link--green btn-reset">Перейти</a>
            </div>
          </article>
        </div>

      </div>

    </div>
    <div class="promo-portfolio__pagination pagination pagination--dynamic swiper-pagination"></div>

  </div>
</section>