<section class="promo-portfolio promo-portfolio--main" id="promo-portfolio">
  <div class="promo-portfolio__container container">
    <div class="promo-portfolio__top">
      <h2 class="promo-portfolio__title title title--section title--light">Портфолио</h2>

      <div class="promo-portfolio__nav">
        <button class="promo-portfolio__nav-btn promo-portfolio__nav-btn--prev btn-reset">
          <svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-linejoin="round"></path>
          </svg>
        </button>
        <button class="promo-portfolio__nav-btn promo-portfolio__nav-btn--next btn-reset ">
          <svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-linejoin="round"></path>
          </svg>
        </button>
      </div>
    </div>



    <div class="promo-portfolio__slider swiper swiper--portfolio">
      <div class="swiper-wrapper">
        <div class="swiper-slide promo-portfolio__slide">
          <article class="portfolio-card">
            <img loading="lazy" src="img/about/about.webp" class="portfolio-card__img image" alt="" height="200">
            <div class="portfolio-card__wrapp">
              <h3 class="portfolio-card__title title title--big">Веб-агенства WebSeed</h3>
              <p class="portfolio-card__text">Cайт сделан точно и в срок. По цене вне конкуренции, вообще никаких
                нареканий.
                У меня не было никаких
                познаний по созданию сайтов, все сам объяснил, предложили варианты технических и маркетинговых решений.
                В
                дальнейшем буду обращаться только к ним!</p>
            </div>
          </article>

        </div>
        <div class="swiper-slide promo-portfolio__slide">
          <article class="portfolio-card">
            <img loading="lazy" src="img/about/about.webp" class="portfolio-card__img image" alt="" height="200">
            <div class="portfolio-card__wrapp">
              <h3 class="portfolio-card__title title title--big">Веб-агенства WebSeed</h3>
              <p class="portfolio-card__text">Cайт сделан точно и в срок. По цене вне конкуренции, вообще никаких
                нареканий.
                У меня не было никаких
                познаний по созданию сайтов, все сам объяснил, предложили варианты технических и маркетинговых решений.
                В
                дальнейшем буду обращаться только к ним!</p>
            </div>
          </article>

        </div>
        <div class="swiper-slide promo-portfolio__slide">
          <article class="portfolio-card">
            <img loading="lazy" src="img/about/about.webp" class="portfolio-card__img image" alt="" height="200">
            <div class="portfolio-card__wrapp">
              <h3 class="portfolio-card__title title title--big">Веб-агенства WebSeed</h3>
              <p class="portfolio-card__text">Cайт сделан точно и в срок. По цене вне конкуренции, вообще никаких
                нареканий.
                У меня не было никаких
                познаний по созданию сайтов, все сам объяснил, предложили варианты технических и маркетинговых решений.
                В
                дальнейшем буду обращаться только к ним!</p>
            </div>
          </article>

        </div>
        <div class="swiper-slide promo-portfolio__slide">
          <article class="portfolio-card">
            <img loading="lazy" src="img/about/about.webp" class="portfolio-card__img image" alt="" height="200">
            <div class="portfolio-card__wrapp">
              <h3 class="portfolio-card__title title title--big">Веб-агенства WebSeed</h3>
              <p class="portfolio-card__text">Cайт сделан точно и в срок. По цене вне конкуренции, вообще никаких
                нареканий.
                У меня не было никаких
                познаний по созданию сайтов, все сам объяснил, предложили варианты технических и маркетинговых решений.
                В
                дальнейшем буду обращаться только к ним!</p>
            </div>
          </article>

        </div>
      </div>

    </div>
    <div class="swiper-pagination dynamic-pagination"></div>

  </div>
</section>