<section class="promo-blog card-slider card-slider--dark " id="promo-blog">

  <div class="card-slider__container container">

    <div class="card-slider__top">
      <h2 class="title title--section title--light">Полезные статьи </h2>

      <div class="card-slider__nav">
        <button class="promo-blog__prev btn-nav-slider btn-nav-slider--prev btn-reset">
          <svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-linejoin="round"></path>
          </svg>
        </button>
        <button class="promo-blog__next btn-nav-slider btn-nav-slider--next btn-reset">
          <svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-linejoin="round"></path>
          </svg>
        </button>
      </div>
    </div>

    <div class="card-slider__slider swiper swiper--promo-blog">
      <div class="swiper-wrapper">
        <div class="swiper-slide card-slider__slide">
          <article class="card ">
            <img loading="lazy" src="img/about/about.webp" class="card__img image" alt="" height="200">
            <div class="card__wrapp">
              <h3 class="card__title title title--big">Веб-агенства WebSeed</h3>
              <p class="card__text">
                познаний по созданию сайтов, все сам объяснил, предложили варианты технических и маркетинговых решений.
                В
                дальнейшем буду обращаться только к ним!</p>
              <a href="http://" class="card__link link link--green btn-reset">Перейти</a>
            </div>
          </article>
        </div>

        <div class="swiper-slide card-slider__slide">
          <article class="card ">
            <img loading="lazy" src="img/about/about.webp" class="card__img image" alt="" height="200">
            <div class="card__wrapp">
              <h3 class="card__title title title--big">Веб-агенства WebSeed</h3>
              <p class="card__text">Cайт сделан точно и в срок. По цене вне конкуренции, вообще никаких
                нареканий.
                У меня не было никаких
                познаний по созданию сайтов, все сам объяснил, предложили варианты технических и маркетинговых решений.
                В
                дальнейшем буду обращаться только к ним!</p>
              <a href="http://" class="card__link link link--green btn-reset">Перейти</a>
            </div>
          </article>
        </div>

        <div class="swiper-slide card-slider__slide">
          <article class="card ">
            <img loading="lazy" src="img/about/about.webp" class="card__img image" alt="" height="200">
            <div class="card__wrapp">
              <h3 class="card__title title title--big">Веб-агенства WebSeed</h3>
              <p class="card__text">Cайт сделан точно и в срок. По цене вне конкуренции, вообще никаких
                нареканий.
                У меня не было никаких
                познаний по созданию сайтов, все сам объяснил, предложили варианты технических и маркетинговых решений.
                В
                дальнейшем буду обращаться только к ним!</p>
              <a href="http://" class="card__link link link--green btn-reset">Перейти</a>
            </div>
          </article>
        </div>

        <div class="swiper-slide card-slider__slide">
          <article class="card">
            <img loading="lazy" src="img/about/about.webp" class="card__img image" alt="" height="200">
            <div class="card__wrapp">
              <h3 class="card__title title title--big">Веб-агенства WebSeed</h3>
              <p class="card__text">Cайт сделан точно и в срок. По цене вне конкуренции, вообще никаких
                нареканий.
                У меня не было никаких
                познаний по созданию сайтов, все сам объяснил, предложили варианты технических и маркетинговых решений.
                В
                дальнейшем буду обращаться только к ним!</p>
              <a href="http://" class="card__link link link--green btn-reset">Перейти</a>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="promo-blog__pagination pagination pagination--dynamic swiper-pagination"></div>

  </div>
</section>