<section class="reviews" id="reviews">
  <div class="reviews__container container">
    <div class="reviews__top">
      <h2 class="reviews__title title title--section">Отзывы наших клиентов</h2>
      <div class="reviews__nav">
        <button class="reviews__nav-btn reviews__nav-btn--prev btn-reset">
          <svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-linejoin="round"></path>
          </svg>
        </button>
        <button class="reviews__nav-btn reviews__nav-btn--next btn-reset">
          <svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-linejoin="round"></path>
          </svg>
        </button>
      </div>
    </div>
    <div class="swiper swiper--reviews">
      <div class="swiper-wrapper">
        <div class="reviews__slide swiper-slide">
          <article class="reviews-card">
            <div class="reviews-card__header">
              <div class="reviews-card__user">
                <span class="reviews-card__user-avater">КВ</span>
                <span class="reviews-card__user-name">Кирилл Владимирович</span>
              </div>
              <img loading="lazy" src="img/review/review-1.webp" class="reviews-card__img image"
                alt="Кирилл Владимирович | Отзыв веб-агенства WebSeed" height="200">
            </div>
            <h3 class="visually-hidden">Кирилл Владимирович | Отзыв веб-агенства WebSeed</h3>
            <p class="reviews-card__text">Cайт сделан точно и в срок. По цене вне конкуренции, вообще никаких нареканий.
              У меня не было никаких
              познаний по созданию сайтов, все сам объяснил, предложили варианты технических и маркетинговых решений. В
              дальнейшем буду обращаться только к ним!</p>
          </article>
        </div>
        <div class="reviews__slide swiper-slide">
          <article class="reviews-card">
            <div class="reviews-card__header">
              <div class="reviews-card__user">
                <span class="reviews-card__user-avater">МА</span>
                <span class="reviews-card__user-name">Михаил Андреевич</span>
              </div>
              <img loading="lazy" src="img/review/review-2.webp" class="reviews-card__img image"
                alt="Михаил Андреевич | Отзыв веб-агенства WebSeed" height="200">
            </div>
            <h3 class="visually-hidden">Михаил Андреевич | Отзыв веб-агенства WebSeed</h3>
            <p class="reviews-card__text">Обновляли сайт нашей фирмы, очень вежливый и приятные сотрудники, все понятно
              объясняют, сайт обновлен быстро в легком простом и понятном варианте, нам понравилось. Заключили договор,
              будем далее работать.</p>
          </article>
        </div>
        <div class="reviews__slide swiper-slide">
          <article class="reviews-card">
            <div class="reviews-card__header">
              <div class="reviews-card__user">
                <span class="reviews-card__user-avater">НГ</span>
                <span class="reviews-card__user-name">Наталья Генадьевна</span>
              </div>
              <img loading="lazy" src="img/review/review-3.webp" class="reviews-card__img image"
                alt="Наталья Генадьевна | Отзыв веб-агенства WebSeed" height="200">
            </div>
            <h3 class="visually-hidden">Наталья Генадьевна | Отзыв веб-агенства WebSeed</h3>
            <p class="reviews-card__text">Профессионалы своего дела. Приятные, вежливые в общении. Сделали все быстро,
              качественно в сроки. Очень рекомендую!</p>
          </article>
        </div>
        <div class="reviews__slide swiper-slide">
          <article class="reviews-card">
            <div class="reviews-card__header">
              <div class="reviews-card__user">
                <span class="reviews-card__user-avater">АА</span>
                <span class="reviews-card__user-name">Алексей Анатольевич</span>
              </div>
              <img loading="lazy" src="img/review/review-4.webp" class="reviews-card__img image"
                alt="Алексей Анатольевич | Отзыв веб-агенства WebSeed" height="200">
            </div>
            <h3 class="visually-hidden">Алексей Анатольевич | Отзыв веб-агенства WebSeed</h3>
            <p class="reviews-card__text">Делал для нас лендинг. Это не первый наш сайт, поэтому есть с чем сравнить.
              Было комфортно работать, все было сделано четко, в договоренные сроки и согласно всем нашим пожеланиям. От
              первого созвона до финального результата со всеми итоговыми корректировками на создание сайта ушло 1,5
              недели. Рекомендую.</p>
          </article>
        </div>

      </div>

    </div>
  </div>
</section>