<section class="services" id="services">
  <div class="services__container container">
    <h2 class="services__title title title--section">Что мы делаем</h2>

    <ul class="list-reset services__list">
      <li class="services__item">
        <article class="services-card">
          <h3 class="services-card__title title title--big">Продвигаем в интернете</h3>
          <h5 class="services-card__subtitle">
            Хотите, больше лидов?
          </h5>
          <p class="services-card__text">Повысим позицию в поисковой выдачи вашего сайта за счет оптимизации контента и
            таргетированной рекламы. Настроем рекламную кампанию под доступный бюджет. Поднимем суточный онлайн и
            количество лидов.</p>
        </article>
      </li>
      <li class="services__item">
        <article class="services-card">
          <h3 class="services-card__title title title--big">Создаем сайты, веб-приложения, личные кабинеты</h3>
          <h5 class="services-card__subtitle">
            Ищете к кому обратиться?
          </h5>
          <p class="services-card__text">
            Создаем одностраничные сайты-лендинги со своим уникальным дизайном и качественной адаптивной версткой.
            Реализуем клиентскую часть по самым современным стандартам и технологиям (SPA, SSR и др).
          </p>
          <p class="services-card__text">
            Применяем систему управления контентом Wordpress, для удобного администрирования контента без помощи
            программистов.
            Реализуем корпоративные сайты и интернет магазины и т.д.
          </p>
        </article>
      </li>
      <li class="services__item">
        <article class="services-card">
          <h3 class="services-card__title title title--big">Дорабатываем и ведём</h3>
          <h5 class="services-card__subtitle">
            Попались недобросовестные исполнители?
          </h5>
          <p class="services-card__text">Реализуем доработки и внедрим новый функционал для вашего существующего сайта,
            по
            вашему техническому заданию.</p>
        </article>
      </li>
      <li class="services__item">
        <article class="services-card">
          <h3 class="services-card__title title title--big">Занимаемся API-интеграциями</h3>
          <h5 class="services-card__subtitle">
            Теряете лидов из-за неавтоматизированных процессов?
          </h5>
          <p class="services-card__text">
            Свяжем и автоматизируем процесс оплаты и кредитования через любого выбранного вами эквайера (Aльфа-Банк,
            Киви,
            Yoomoney и т.д.). Свяжем прием заявок с сайта с вашей CRM-системой (Aльфа-Банк, Киви, Yoomoney и т.д).
            Реализуем любую другую интеграцию со сторонними API-сервисами, в том числе и государственными API
            (Госуслуги,
            ФНС и т.д.).
          </p>
        </article>
      </li>
      <li class="services__item">
        <article class="services-card">
          <h3 class="services-card__title title title--big">Проводим Аудит</h3>
          <h5 class="services-card__subtitle">
            Сомневаетесь в качестве реализации?
          </h5>
          <p class="services-card__text">Проведем независимую оценку качества выполненных работ в области создания,
            продвижения, поисковой оптимизации, безопасности и настроек онлайн рекламы вашего сайта. Выявим недочёты и
            составим техническое задание на доработку и устранение выявленных проблем. </p>
        </article>
      </li>
      <li class="services__item">
        <article class="services-card">
          <h3 class="services-card__title title title--big">Администрируем</h3>
          <h5 class="services-card__subtitle">
            Не можете зайти на свой сайт или не приходят письма?
          </h5>
          <p class="services-card__text">
            Развернем серверную инфраструктуру, настроем сервер для работы , разместим ваш онлайн-проект на выделенном
            веб-сервере, разместим сайт на хостинге, свяжем домен с хостингом. Выпустим SSL сертификат для вашего сайта,
            настроим почту.
          </p>
        </article>
      </li>
      <li class="services__item">
        <article class="services-card">
          <h3 class="services-card__title title title--big">7Lorem ipsum dolor sit.</h3>
          <p class="services-card__text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque quam animi quas rem! Expedita, hic enim!
            Perspiciatis, sit consequuntur sequi voluptatum a consequatur vitae assumenda neque. Quo illum architecto
            exercitationem a libero dolorum et pariatur, quaerat enim repudiandae! Minima quibusdam accusantium suscipit
            voluptatum ipsam impedit veritatis illo eaque perspiciatis veniam?
          </p>
        </article>
      </li>
      <li class="services__item">
        <article class="services-card">
          <h3 class="services-card__title title title--big">8Lorem ipsum dolor sit.</h3>
          <p class="services-card__text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque quam animi quas rem! Expedita, hic enim!
            Perspiciatis, sit consequuntur sequi voluptatum a consequatur vitae assumenda neque. Quo illum architecto
            exercitationem a libero dolorum et pariatur, quaerat enim repudiandae! Minima quibusdam accusantium suscipit
            voluptatum ipsam impedit veritatis illo eaque perspiciatis veniam?
          </p>
        </article>
      </li>
    </ul>
  </div>
</section>