<section class="social" id="social">
  <div class="social__container container">
    <div class="social__left">
      <h2 class="social__title title title--section">Мы в социальных сетях</h2>
      <p class="social__text">
        На нашем YouTube-канале регулярно выходят пошаговые гайды, подборки вузов и обзорные видео об образовании за
        границей. Также мы постоянно делимся новостями, советами менторов и историями наших студентов в Telegram.
      </p>
      <div class="social__wrapp-btns">
        <a href="https://t.me/web_seed" target="_blank" class="social__link link link--green">
          <span class="social__name">Telegram</span>
          <svg class="social__item">
            <use xlink:href="img/sprite.svg#telegram-black"></use>
          </svg>
        </a>
        <a href="https://wa.me/+79934092028" target="_blank" class="social__link link link--green">
          <span class="social__name">WhatsApp</span>
          <svg class="social__item">
            <use xlink:href="img/sprite.svg#whatsapp-black"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="social__right">
      <picture>
        <source srcset="img/social/social-576.webp" media="(max-width: 576px)">
        <source srcset="img/social/social-768.webp" media="(max-width: 768px)">
        <source srcset="img/social/social-1024.webp" media="(max-width: 1024px)">
        <img loading="lazy" src="img/social/social-1920.webp" class="social__image image" alt="о нас" width="700px"
          height="500px">
      </picture>
    </div>
  </div>
</section>