<section class="social" id="social">
  <div class="social__container container">
    <div class="social__left">
      <h2 class="social__title title title--section">Мы в социальных сетях</h2>
      <p class="social__text">
        На нашем YouTube-канале регулярно выходят пошаговые гайды, подборки вузов и обзорные видео об образовании за
        границей. Также мы постоянно делимся новостями, советами менторов и историями наших студентов в Telegram.
      </p>
      <div class="social__wrapp-btns">
        <a href="#" class="social__link link link--green">Бесплатная консультация</a>
        <a href="#services" class="social__link link" data-menu-item>Об&nbsp;услугах</a>
      </div>
    </div>
    <div class="social__right">
      <picture>
        <source srcset="img/about/about-1024.webp" media="(max-width: 1023px)">
        <img loading="lazy" src="img/about/about-1920.jpg" class="social__image image" alt="о нас" width="700px"
          height="500px">
      </picture>
    </div>
  </div>
</section>