<section class="stack" id="stack">
  <div class="stack__container container">
    <h2 class="stack__title title title--section">Наш стек</h2>
    <div class="swiper swiper--stack">
      <div class="swiper-wrapper">
        <div class="stack__slide swiper-slide">
          <svg>
            <use xlink:href="img/sprite.svg#html"></use>
          </svg>
          <h3 class="visually-hidden">html</h3>

        </div>
        <div class="stack__slide swiper-slide">
          <svg>
            <use xlink:href="img/sprite.svg#css"></use>
          </svg>
          <h3 class="visually-hidden">css</h3>
        </div>
        <div class="stack__slide swiper-slide">
          <svg>
            <use xlink:href="img/sprite.svg#js"></use>
          </svg>
          <h3 class="visually-hijsdden">js</h3>
        </div>
        <div class="stack__slide swiper-slide">
          <svg>
            <use xlink:href="img/sprite.svg#git"></use>
          </svg>
          <h3 class="visually-hidden">git</h3>
        </div>
        <div class="stack__slide swiper-slide">
          <svg>
            <use xlink:href="img/sprite.svg#bitrix24"></use>
          </svg>
          <h3 class="visually-hidden">bitrix24</h3>
        </div>
        <div class="stack__slide swiper-slide">
          <svg>
            <use xlink:href="img/sprite.svg#figma"></use>
          </svg>
          <h3 class="visually-hidden">figma</h3>
        </div>
        <div class="stack__slide swiper-slide">
          <svg>
            <use xlink:href="img/sprite.svg#gulp"></use>
          </svg>
          <h3 class="visually-hidden">gulp</h3>
        </div>
        <div class="stack__slide swiper-slide">
          <svg>
            <use xlink:href="img/sprite.svg#linux"></use>
          </svg>
          <h3 class="visually-hidden">linux</h3>
        </div>
        <div class="stack__slide swiper-slide">
          <svg>
            <use xlink:href="img/sprite.svg#sql"></use>
          </svg>
          <h3 class="visually-hidden">sql</h3>
        </div>
        <div class="stack__slide swiper-slide">
          <svg>
            <use xlink:href="img/sprite.svg#vue"></use>
          </svg>
          <h3 class="visually-hidden">vue</h3>
        </div>
        <div class="stack__slide swiper-slide">
          <svg>
            <use xlink:href="img/sprite.svg#webpack"></use>
          </svg>
          <h3 class="visually-hidden">webpack</h3>
        </div>
        <div class="stack__slide swiper-slide">
          <svg>
            <use xlink:href="img/sprite.svg#woo_commerce"></use>
          </svg>
          <h3 class="visually-hidden">woo_commerce</h3>
        </div>
        <div class="stack__slide swiper-slide">
          <svg>
            <use xlink:href="img/sprite.svg#laravel"></use>
          </svg>
          <h3 class="visually-hidden">laravel</h3>
        </div>
        <div class="stack__slide swiper-slide">
          <svg>
            <use xlink:href="img/sprite.svg#wordpress"></use>
          </svg>
          <h3 class="visually-hidden">wordpress</h3>
        </div>
        <div class="stack__slide swiper-slide">
          <svg>
            <use xlink:href="img/sprite.svg#php"></use>
          </svg>
          <h3 class="visually-hidden">php</h3>
        </div>
      </div>
    </div>
  </div>
</section>