<section class="stack" id="stack">
  <div class="stack__container container">
    <h2 class="stack__title title title--section">Наш стек</h2>
    <div class="swiper swiper--stack">
      <div class="swiper-wrapper">
        <div class="stack__slide swiper-slide">
          <svg>
            <use xlink:href="img/sprite.svg#html"></use>
          </svg>
          <h3 class="visually-hidden">Разработка сайтов на html</h3>
        </div>

        <div class="stack__slide swiper-slide">
          <svg>
            <use xlink:href="img/sprite.svg#css"></use>
          </svg>
          <h3 class="visually-hidden">Разработка сайтов на css</h3>
        </div>

        <div class="stack__slide swiper-slide">
          <svg>
            <use xlink:href="img/sprite.svg#js"></use>
          </svg>
          <h3 class="visually-hidden">Создание сайта и клиентских приложений на JavaScript</h3>
        </div>

        <div class="stack__slide swiper-slide">
          <svg>
            <use xlink:href="img/sprite.svg#git"></use>
          </svg>
          <h3 class="visually-hidden">При создании используем git</h3>
        </div>

        <div class="stack__slide swiper-slide">
          <svg>
            <use xlink:href="img/sprite.svg#bitrix24"></use>
          </svg>
          <h3 class="visually-hidden">Интегрируем с bitrix24</h3>
        </div>

        <div class="stack__slide swiper-slide">
          <svg>
            <use xlink:href="img/sprite.svg#figma"></use>
          </svg>
          <h3 class="visually-hidden">Создаем дизайн макета в figma</h3>
        </div>

        <div class="stack__slide swiper-slide">
          <svg>
            <use xlink:href="img/sprite.svg#gulp"></use>
          </svg>
          <h3 class="visually-hidden">В разработке используем сборщик gulp</h3>
        </div>

        <div class="stack__slide swiper-slide">
          <svg>
            <use xlink:href="img/sprite.svg#linux"></use>
          </svg>
          <h3 class="visually-hidden">администрирование linux серверов</h3>
        </div>
        <div class="stack__slide swiper-slide">
          <svg>
            <use xlink:href="img/sprite.svg#sql"></use>
          </svg>
          <h3 class="visually-hidden">Ведем разработку баз данных sql</h3>
        </div>
        <div class="stack__slide swiper-slide">
          <svg>
            <use xlink:href="img/sprite.svg#vue"></use>
          </svg>
          <h3 class="visually-hidden">разработка сайтов и клиентских приложений на vue js</h3>
        </div>
        <div class="stack__slide swiper-slide">
          <svg>
            <use xlink:href="img/sprite.svg#webpack"></use>
          </svg>
          <h3 class="visually-hidden">В разработке используем сборщик webpack</h3>
        </div>
        <div class="stack__slide swiper-slide">
          <svg>
            <use xlink:href="img/sprite.svg#woo_commerce"></use>
          </svg>
          <h3 class="visually-hidden">Создаем на основе woo_commerce</h3>
        </div>
        <div class="stack__slide swiper-slide">
          <svg>
            <use xlink:href="img/sprite.svg#laravel"></use>
          </svg>
          <h3 class="visually-hidden">разработка сайтов на laravel</h3>
        </div>
        <div class="stack__slide swiper-slide">
          <svg>
            <use xlink:href="img/sprite.svg#wordpress"></use>
          </svg>
          <h3 class="visually-hidden">создание сайта на wordpress</h3>
        </div>
        <div class="stack__slide swiper-slide">
          <svg>
            <use xlink:href="img/sprite.svg#php"></use>
          </svg>
          <h3 class="visually-hidden">разработка сайтов на php</h3>
        </div>
      </div>
    </div>
  </div>
</section>