:root {
  // base
  --font-title: "Montserrat", sans-serif;
  --font-family: "Inter", sans-serif;
  --content-width: 1140px;
  --container-offset: 50px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  @include small-tablet {
    --container-offset: 30px;
  }

  @include mobile {
    --container-offset: 15px;
  }

  // colors
  --light: #fff;
  --dark: #202124;
  --dark-shark: #2c2d2e;
  --grey-dark: #3d3e40;
  --grey: #818287;
  --grey-light: #e3e3e7;
  --smoke: #d3d4db;
  --accent: #cfe741;
  --accent-dark: #bad03b;
  --accent-light: #dffd2e;
  --main: #f4f4f5;
  --smoke-light:#d3d4db59;
}